extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 #{data.project[id].project_name}
        p.lead.text-light
          | #{data.project[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each tech in data.project[id].technologies
           li
             a(href=`https://en.wikipedia.org/wiki/${tech}` target="_blank") #{tech}

        a.button.expanded(href=`${data.project[id].live_link}` target="_blank") Live Demo
        a.button.expanded(href=`${data.project[id].github_link}` target="_blank") GitHub Repo


      each image, index in data.project[id].image_urls
          if index > 0
            img.image(src=`${image}`)
